.sectionUnits {

    width: 100%;
    display: flex;

}

.boxUnits {

    width: 20vw;
    height: 30vh;
    margin: 15px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgb(197, 197, 197);
    
}

.boxUnits img {

    width: 80%;
    border-radius: 5px;

}

.boxUnits h3 {

    font-size: 13pt;
    text-align: center;

}

@media screen and (max-width: 768px) {

    .sectionUnits {

        display: flex;
        align-items: center;
        justify-content: center;

    }

    .boxUnits {

        width: 100%;
        padding: 20px 10px;

    }


}