* {

    margin: 0;
    padding: 0;

}

body {

    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

.flexDisplayCenter {

    display: flex;
    align-items: center;
    justify-content: center;

}

.flexDisplayBetween {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.defaultDiv {

    width: 100vw;
    text-align: center;

}

.addButton {

    display: flex;
    right: 20px;
    bottom: 30px;
    width:  65px;
    height: 65px;
    z-index: 200;
    position: fixed;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #185ef6;
    box-shadow: 0px 0px 3px #185ef6;

}

.addButton b {
    
    color: white;
    font-size: 20pt;

}

.leftSide {

    width: 75vw;
    padding-left: 3vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

}

.rightSide {

    width: 20vw;
    min-height: 100vh;
    padding-right: 3vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

}

.rightSide h3 {

    width: 100%;
    text-align: center;

}

.boxTips {

    width: 90%;
    padding: 15px;
    margin: 15px 0;
    color: white;
    border-radius: 10px;
    background-color: #185ef6;

}

.divModal {

    width: 100vw;
    position: relative;

}

.divModal span{

    width: 20px;
    height: 20px;
    padding: 8px;
    color: white;
    position: absolute;
    top: 25px;
    left: 13%;
    z-index: 400;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #185ef6;

}

@media screen and (max-width: 768px) {

    .leftSide {

        width: 90vw;
        padding-left: 0;

    }

    .rightSide {

        display: none;
    
    }

}